apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: payment-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
          env:
              - name: SPRING_DATASOURCE_URL
                value: jdbc:postgresql://$(PGHOST):$(PGPORT)/$(PGDATABASE)?sslmode=require
              - name: SPRING_DATASOURCE_USERNAME
                valueFrom:
                  secretKeyRef:
                    name: payment-db-secret
                    key: PGUSER
              - name: SPRING_DATASOURCE_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: payment-db-secret
                    key: PGPASSWORD
              - name: PGHOST
                valueFrom:
                  secretKeyRef:
                    name: payment-db-secret
                    key: PGHOST
              - name: PGPORT
                valueFrom:
                  secretKeyRef:
                    name: payment-db-secret
                    key: PGPORT
              - name: PGDATABASE
                valueFrom:
                  secretKeyRef:
                    name: payment-db-secret
                    key: PGDATABASE
              - name: COINGECKO_API_KEY
                valueFrom:
                  secretKeyRef:
                    name: payment-service-secrets
                    key: COINGECKO_API_KEY
          envFrom:
            - configMapRef:
                name: payment-service-config
